* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #753c77;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top-section #top-section-bg {
  height: 100%;
  display: flex;
  width: 100%;
}

.plane {
  position: absolute;
  left: 10%;
  bottom: 10%;
  left: 40%;
  width: 90%;
  animation: flyFromRight 3s ease-out forwards; /* 3 saniyelik animasyon */
}

@keyframes flyFromRight {
  from {
    transform: translateX(100vw); /* Ekranın dışından başlar */
  }
  to {
    transform: translateX(-40vw); /* Orijinal pozisyonuna gelir */
  }
}

.normal-manu {
  position: absolute;
  left: 26%;
  top: 45%;
  width: 9%;
  opacity: 0; /* Başlangıçta görünmez */
  animation: descend 5s ease-in-out forwards 3s, grow 2s ease-in-out 8s forwards,
    jump 0.5s ease-in-out 10s 2;
}

@keyframes descend {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  60% {
    top: 45%;
    left: 30%;
  }

  70% {
    top: 50%;
    left: 33%;
  }

  80% {
    top: 58%;
    left: 36%;
  }

  90% {
    top: 66%;
    left: 40%;
  }

  100% {
    opacity: 1;
    top: 68%;
    left: 42%; /* Son konum */
  }
}

@keyframes grow {
  0% {
    transform: scale(1); /* Normal boyutta */
  }
  100% {
    transform: scale(2.5); /* Büyüme oranı */
    top: 38%;
  }
}
@keyframes jump {
  0%,
  100% {
    transform: scale(3) translateY(0); /* Başlangıç ve bitiş pozisyonu */
  }
  50% {
    transform: scale(3) translateY(-20px); /* Yukarı zıplar */
  }
  100% {
    transform: scale(3) translateY(0); /* Başlangıç pozisyonuna geri döner */
  }
}

.top-section .confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  /* 3 saniyede düşer, sonsuz döngüde tekrar eder */
}

@keyframes confettiFall {
  0% {
    opacity: 1;
    transform: translateY(-100%) rotate(0deg); /* Yukarıdan başlar */
  }
  100% {
    opacity: 1;
  }
}

.top-section .coins {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  opacity: 0;
}

@keyframes coinsFall {
  0% {
    opacity: 1;
    transform: translateY(-100%) rotate(0deg); /* Yukarıdan başlar */
  }
  100% {
    opacity: 1;
  }
}

.bottom-section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
