@keyframes flyFromRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-58vw);
  }
}

@keyframes openDoor {
  0% {
    right: 6%;
  }
  100% {
    right: 2%;
  }
}

@media only screen and (max-width: 500px) {
  @keyframes openDoor {
    0% {
      right: 16%;
    }
    100% {
      right: 12%;
    }
  }
}

@keyframes showMamu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes walkDownStairs {
  0% {
    left: 26%;
    bottom: 30%;
  }
  20% {
    left: 30%;
    bottom: 26%;
  }
  40% {
    left: 32%;
    bottom: 20%;
  }
  60% {
    left: 34%;
    bottom: 12%;
  }
  80% {
    left: 36%;
    bottom: 8%;
  }
  100% {
    left: 40%;
    bottom: 8%;
  }
}

@media only screen and (max-width: 500px) {
  @keyframes walkDownStairs {
    0% {
      left: 12%;
      bottom: 30%;
    }
    20% {
      left: 16%;
      bottom: 28%;
    }
    30% {
      left: 18%;
      bottom: 24%;
    }
    40% {
      left: 20%;
      bottom: 20%;
    }
    50% {
      left: 22%;
      bottom: 16%;
    }
    60% {
      left: 24%;
      bottom: 12%;
    }
    70% {
      left: 30%;
      bottom: 8%;
    }
    100% {
      left: 36%;
      bottom: 8%;
    }
  }
}

@keyframes growManu {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2.2);
    bottom: 22%;
  }
}

@media only screen and (max-width: 500px) {
  @keyframes growManu {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(4);
      bottom: 30%;
    }
  }
}

@keyframes jumpNormalManu {
  0%,
  50%,
  100% {
    transform: translateY(0) scale(2.2);
  }
  25%,
  75% {
    transform: translateY(-30px) scale(2.2);
  }
}

@media only screen and (max-width: 500px) {
  @keyframes jumpNormalManu {
    0%,
    50%,
    100% {
      transform: translateY(0) scale(4);
    }
    25%,
    75% {
      transform: translateY(-30px) scale(4);
    }
  }
}

@keyframes jumpKingManu {
  0%,
  50%,
  100% {
    transform: translateY(0) scale(2.2);
  }
  25%,
  75% {
    transform: translateY(-20px) scale(2.2);
  }
}

@media only screen and (max-width: 500px) {
  @keyframes jumpKingManu {
    0%,
    50%,
    100% {
      transform: translateY(0) scale(4);
    }
    25%,
    75% {
      transform: translateY(-20px) scale(4);
    }
  }
}

@keyframes confettiFall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes coinsFall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
