@keyframes flyFromRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-58vw);
  }
}

@keyframes openDoor {
  0% {
    right: 6%;
  }
  100% {
    right: 2%;
  }
}

@keyframes showMamu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  @keyframes openDoor {
    0% {
      right: 16%;
    }
    100% {
      right: 12%;
    }
  }
}

@keyframes walkDownStairs {
  /*    left: 26%;
    bottom: 20%; */
  0% {
    left: 26%;
    bottom: 20%;
  }

  20% {
    left: 28%;
    bottom: 18%;
  }

  30% {
    left: 30%;
    bottom: 14%;
  }

  40% {
    left: 32%;
    bottom: 8%;
  }

  50% {
    left: 34%;
    bottom: 4%;
  }

  60% {
    left: 36%;
    bottom: 0%;
  }

  70% {
    left: 38%;
    bottom: -4%;
  }

  100% {
    left: 40%;
    bottom: -4%;
  }
}

@media only screen and (max-width: 480px) {
  @keyframes walkDownStairs {
    0% {
      left: 12%;
      bottom: 30%;
    }

    20% {
      left: 16%;
      bottom: 28%;
    }

    30% {
      left: 18%;
      bottom: 24%;
    }

    40% {
      left: 20%;
      bottom: 20%;
    }

    50% {
      left: 22%;
      bottom: 16%;
    }

    60% {
      left: 24%;
      bottom: 12%;
    }

    70% {
      left: 30%;
      bottom: 8%;
    }

    100% {
      left: 36%;
      bottom: 8%;
    }
  }
}

@keyframes growManu {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2.2);
    bottom: 22%;
  }
}

@media only screen and (max-width: 480px) {
  @keyframes growManu {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(4);
      bottom: 30%;
    }
  }
}

@keyframes jumpNormalManu {
  0% {
    transform: translateY(0) scale(2.2);
  }

  25% {
    transform: translateY(-30px) scale(2.2);
  }

  50% {
    transform: translateY(0px) scale(2.2);
  }
  75% {
    transform: translateY(-30px) scale(2.2);
  }

  100% {
    transform: translateY(0px) scale(2.2);
  }
}

@media only screen and (max-width: 480px) {
  @keyframes jumpNormalManu {
    0% {
      transform: translateY(0) scale(4);
    }

    25% {
      transform: translateY(-30px) scale(4);
    }

    50% {
      transform: translateY(0px) scale(4);
    }
    75% {
      transform: translateY(-30px) scale(4);
    }

    100% {
      transform: translateY(0px) scale(4);
    }
  }
}

@keyframes jumpKingManu {
  0% {
    transform: translateY(0) scale(2.2);
  }

  25% {
    transform: translateY(-20px) scale(2.2);
  }

  50% {
    transform: translateY(0px) scale(2.2);
  }
  75% {
    transform: translateY(-20px) scale(2.2);
  }

  100% {
    transform: translateY(0px) scale(2.2);
  }
}

@keyframes confettiFall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes coinsFall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
