body {
  background-color: #753c77;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 2rem 2.5rem;
}

button {
  padding: 10px 60px;
  height: 95;
  border-radius: 999px;
  border: none;
  background-color: #faff00;
  color: #bd00ff;
  font-weight: bold;
  box-shadow: 0px 6px 1px #2b3e4f;
  cursor: pointer;
}

.section-bottom p {
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.background-desktop {
  display: block;
  width: 100%;
}
.background-mobile {
  display: none;
}

.plane {
  position: absolute;
  width: 80%;
  right: -40%;
  bottom: 10%;
  animation: flyFromRight 3s ease-out forwards;
}

.plane-door {
  position: absolute;
  right: 8%;
  bottom: 30%;
  width: 9%;
  animation: flyFromRight 3s ease-out forwards,
    openDoor 1s ease-in-out 3s forwards;
}

.person-manu {
  position: absolute;
  opacity: 0;
  /*   opacity: 1; */
  width: 9%;
  left: 26%;
  bottom: 30%;
  object-fit: cover;
  animation: showMamu 1s ease-in-out 4s forwards,
    walkDownStairs 4s ease-in-out 5s forwards,
    growManu 1s ease-in-out 9s forwards,
    jumpNormalManu 1s ease-in-out 10s forwards;
}

.king-manu {
  position: absolute;
  width: 9%;
  transform: scale(2.2);
  left: 40%;
  bottom: 22%;
  object-fit: cover;
  animation: showMamu 1s ease-in-out 11s forwards,
    jumpKingManu 1s ease-in-out 1s infinite;
}

.confetti-container,
.coin-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.confetti {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  animation: confettiFall 5s linear infinite;
  animation-delay: 13s;
}

.coins {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  animation: coinsFall 5s linear infinite;
  animation-delay: 13s;
  height: 100%;
}

.delay1 {
  animation-delay: 1s;
}

.delay2 {
  animation-delay: 2s;
}

.delay3 {
  animation-delay: 3s;
}

.coin {
  width: 5%;
  animation: coinsFall 5s linear infinite;
  animation-delay: 14s;
  opacity: 0;
}
iframe {
  border-radius: 15px;
  width: 560px;
  height: 315px;
}
